p{
    font-family: Montserrat Alternates; 
    color: #3A4D39;
    text-align: justify;
}
h1{
    font-family: Montserrat Alternates;
    color: #76453B;
    text-align: center;
}
h2{
    font-family: Montserrat Alternates;
    color:#43766C;
    text-align: center;
}
h6{
    font-family: Montserrat Alternates;
    color: #43766C;
}
ul{
    list-style-type: " ♥ ";
    font-family: Montserrat Alternates;
    color: #43766C;
}
#gandalf{
    width: 500px;
}
#almendra{
    max-height: 336px;
}
#invisible{
    height: 250px;
    text-align: center;
}
img{
    border: #FAD7A0 4px double;
}
body{
    background-color: #D7E4C0;
}
.padding-top-20{
    padding-top: 1em;
}